header#header {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header#header div#name-container {
  display: flex;
  flex-direction: column;
}

header#header div#name-container h1 {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.035em;
}

header#header div#name-container h1 a {
  font-weight: 400;
  color: var(--color-foreground);
}

header#header div#name-container h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-subtle);
}

@media (min-width: 768px) {
  header#header.project-page {
    display: none;
  }
}
