header#header {
  max-width: 1080px;
  margin: 64px 160px 0 160px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header#header div#name-container {
  display: flex;
  flex-direction: column;
}

header#header div#name-container h1 {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.035em;
}

header#header div#name-container h1 a {
  font-weight: 400;
}

header#header div#name-container h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.15rem;
  color: var(--color-black-30);
  letter-spacing: -0.035em;
}
