div#cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 50%;
  pointer-events: none;
}

div#cursor.difference {
  background-color: white;
  mix-blend-mode: difference;
}

div#cursor.blur {
  background: radial-gradient(50% 50% at 50% 50%, rgba(164, 164, 164, 0.5) 0%, rgba(164, 164, 164, 0.5) 100%);
  backdrop-filter: blur(2px);
}
