.fade-wrapper {
  opacity: 0;
  transform: translate(0, 24px);
  visibility: hidden;
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, visibility;
}

.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
