article.about {
  display: flex;
  gap: 64px;
}

article.about img {
  border-radius: 6px;
}

article.about section p strong {
  font-weight: 500;
}

article.about section.text a {
  font-weight: 500;
}

@media (max-width: 1160px) {
  article.about {
    flex-direction: column;
    gap: 32px;
  }

  article.about img {
    width: 100%;
    height: auto;
  }
}
