nav#navbar li {
  display: inline;
  margin-left: 3em;
}

nav#navbar > ul > li::before {
  content: none;
}

nav#navbar > ul > li > a {
  font-size: 1.25em;
  font-weight: 300;
  color: var(--color-black);
  padding: 8px 16px;
  margin: 0 -16px;
  border-radius: 24px;
  transition: all 0.2s ease;
}

nav#navbar > ul > li > a:hover {
  background-color: var(--color-black-10);
}

nav#navbar > ul > li > a:active {
  background-color: var(--color-black);
  color: var(--color-white);
}
