nav#navbar > ul > li > a::before {
  content: "â—";
  position: absolute;
  margin-left: -1em;
  display: none;
}

nav#navbar > ul > li > a:hover::before {
  display: inline;
  color: var(--color-primary);
}
