nav#navbar > ul > li > a {
  color: black;
  padding: 8px 16px;
  margin: 0 -16px;
  border-radius: 24px;
  transition: all 0.2s ease;
}

nav#navbar > ul > li > a:hover {
  background-color: #00000011;
}

nav#navbar > ul > li > a:active {
  background-color: black;
  color: white;
}
