nav#navbar > ul > li > a::before {
  content: "â—";
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  transition: all 0.3s ease;
}

nav#navbar > ul > li > a:hover::before {
  opacity: 1;
  color: var(--color-primary);
}
