:root {
  --font: var(--font-inter), sans-serif;

  --color-black:    hsla(0deg, 000%, 000%, 1.000);
  --color-white:    hsla(0deg, 000%, 100%, 1.000);
  --color-black-10: hsla(0deg, 000%, 000%, 0.067);
  --color-black-30: hsla(0deg, 000%, 000%, 0.300);
  --color-black-50: hsla(0deg, 000%, 000%, 0.500);

  color: var(--color-black);
  background-color: var(--color-white);

  --margin-large: 160px;
  --margin-small: 80px;

  --max-width: 1080px;
  --max-width-projects: 1400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none !important;
}

body {
  margin: 0 80px;
  line-height: 180%;
  font-size: 1rem;
  font-family: var(--font);
}

main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 1.5em 0 1em;
  line-height: 120%;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.25em 0;
}

li::before,
li::marker {
  color: hsl(0deg, 0%, 40%);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  margin-top: -1px;
  content: '-';
}

ul ul > li {
  margin-left: 1em;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes move-in {
  from {
    /* 100% (viewport height) - 10vh (footer spacer) - 48px (header bottom margin) - 98px (header rough height) - 96px (header top margin) */
    /* note: 98px works as an example; won't be exact unless BelowTheFold is clamped at a specific height */
    transform: translateY(calc(100% - 10vh - 48px - 98px - 96px));
  }

  to {
    transform: translateY(0%);
  }
}

::view-transition-old(root) {
  animation: 0.2s ease both fade-out;
}

::view-transition-new(root) {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) both move-in;
  animation-delay: 0.2s;
}
