:root {
  --font: Helvetica, sans-serif;

  --color-black:    hsla(0deg, 000%, 000%, 1.000);
  --color-white:    hsla(0deg, 000%, 100%, 1.000);
  --color-white-50: hsla(0deg, 000%, 100%, 0.500);
  --color-black-30: hsla(0deg, 000%, 000%, 0.300);

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);
  --color-subtle:     var(--color-black-30);

  --margin-large: 160px;
  --margin-small: 40px;

  --max-width: 1150px;
  --max-width-projects: 1400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none !important;
}

body {
  margin: 0 var(--margin-large);
  line-height: 180%;
  font-size: 1rem;
  font-family: var(--font);
  color: var(--color-foreground);
  background-color: var(--color-background);
}

.invert {
  --color-background: var(--color-black);
  --color-foreground: var(--color-white);
  --color-subtle:     var(--color-white-50);
}

main {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 1.5em 0 1em;
  line-height: 120%;
}

h2,
h3 {
  font-weight: 500;
}

a {
  color: var(--color-subtle);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-foreground);
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.25em 0;
}

li::before,
li::marker {
  color: hsl(0deg, 0%, 40%);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  margin-top: -1px;
  content: '-';
}

ul ul > li {
  margin-left: 1em;
}

p {
  max-width: 700px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: 0.4s ease both fade-out;
}

::view-transition-new(root) {
  animation-delay: 0.2s;
}

@media (max-width: 768px) {
  body {
    margin: 0 var(--margin-small);
  }
}
