div#content {
  max-width: 1080px;
  margin: 0 160px;
}

section#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#hero p {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-black-50);
}

section#hero p strong {
  font-weight: 400;
  color: var(--color-black);
}

section#hero p {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
