section#hero {
  max-width: 850px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 96px;
}

section#hero p {
  animation: fadeIn 1s ease forwards;
}

section#hero p.subtle {
  color: var(--color-black-30);
  font-size: 0.9rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1160px) {
  section#hero {
    flex-direction: column;
    margin: 40px 0;
  }

  section#hero p {
    align-self: flex-start;
  }
}
