div#content {
  max-width: 1080px;
  margin: 0 var(--margin-large);
}

section#hero {
  margin: 80px;
  display: flex;
  align-items: center;
  gap: 64px;
}

section#hero p {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-black-50);
}

section#hero p strong {
  font-weight: 400;
  color: var(--color-black);
}

section#hero p {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1160px) {
  section#hero {
    flex-direction: column;
    margin: 40px;
  }
}
