div.content {
  max-width: 1120px;
}

header.header {
  margin-top: 96px;
  margin-bottom: 48px;
}

h1.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
}

p.description {
  margin: 0;
}

p.subtitle {
  margin-bottom: 0;
  font-style: italic;
  font-weight: 300;
}
