header.header {
  margin-top: 96px;
  margin-bottom: 48px;
}

h1.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.04em;
}

p.subtitle {
  margin-bottom: 0;
  margin-top: 8px;
  font-weight: 400;
  color: var(--color-subtle);
}

p.description {
  margin: 0;
}

@media (max-width: 768px) {
  header.header {
    margin-top: 48px;
  }
}
