footer#footer {
  display: flex;
  justify-content: space-between;
}

footer#footer p {
  color: var(--color-black-30);
}

footer#footer nav#external-links ul {
  display: flex;
  gap: 16px;
}

footer#footer nav#external-links > ul > li::before {
  content: none;
}

footer#footer a {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0 -16px;
  transition: all 0.3s ease;
  color: var(--color-black-30);
}

footer#footer a:hover {
  color: var(--color-black);
}

@media (max-width: 700px) {
  footer#footer nav#external-links ul {
    text-align: left;
  }
}
