footer#footer p {
  font-size: 1.25rem;
  font-weight: 300;
}

footer#footer nav#site-links ul,
footer#footer nav#external-links ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer#footer nav#site-links > ul > li::before,
footer#footer nav#external-links > ul > li::before {
  content: none;
}

footer#footer nav#site-links > ul > li > a,
footer#footer nav#external-links > ul > li > a {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0 -16px;
  transition: all 0.2s ease;
}

footer#footer nav#external-links > ul > li > a {
  color: var(--color-black-50);
}

footer#footer nav#site-links > ul > li > a:active,
footer#footer nav#external-links > ul > li > a:active {
  color: var(--color-black);
}
