div#media-container {
  margin: 16px 0;
}

div#media-container a {
  color: var(--color-foreground);
}

div#media-container figure img,
div#media-container figure video {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 6px;
}

div#media-container figure figcaption {
  margin-top: 24px;
  margin-left: 8px;
}

div#media-container figure figcaption span#title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.03em;
}

div#media-container figure figcaption span#description {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--color-subtle);
  margin: 0;
  margin-top: 4px;
}

@media (max-width: 768px) {
  div#media-container figure figcaption {
    margin-top: 16px;
  }
  div#media-container figure figcaption span#title {
    font-size: 1.2rem;
  }
}
